/* option 1 body {
  background-color: rgba(2, 205, 93, 0.428);
} */
/* .naruto {
  display: none;
} */

@keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(300%);

    display: none;
  }
}
/* to {
    transform: rotate(90);
  } */

@keyframes noDisplay {
}
.naruto img {
  animation: slidein 1s linear 2s 1 reverse forwards;
  animation-delay: 1s;
  border-radius: 10%;
  border: 5px solid red;
  animation-timing-function: ease-in;
  /* end animation */
  transition: ;
}

.naruto:-ms-ticks-after {
  display: none;
}
body {
  background-color: rgba(0, 61, 28, 0.428);
}

main,
header,
footer {
  background-color: whitesmoke;
  padding: 5px;
  border: 9px;
}

/* header */
h1 {
  display: block;
  padding: 30px;
  border: 5px solid black;
  border-radius: 20px;
  margin: 10px;
}

nav {
  display: inline-flexbox;
  height: 50px;
  width: 100%;
  padding: 5px;
  background-color: blue;
  text-align: right;
  font-size: 30px;
}

nav ul {
  list-style-type: none;
  display: inline;
}

nav ul li,
a {
  display: inline;
  padding: 5px solid blue;
  background-color: blue;
  color: yellow;
}

/* attempt at animation for NAV */
/* a::before:hover {
  display: contents;
}

a:after:hover {
  content: "Hey! Listen!";
} */

/* About Me Section */
#aboutMe {
  display: flex;
  flex-wrap: wrap;
}

/* Basic Landing Pages */
#landing-pages {
  display: flex;
  flex-wrap: wrap;
}

/* Vanilla JS Projects */

/* React Projects */
