:root {
  --light: #a0c1d1;
  --heading-color: #232c33;
  --dark: #5a7d7c;
}

* {
  box-sizing: border-box;
}

/* color pallete link: https://coolors.co/3e78b2-004ba8-4a525a-24272b-07070a */

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--light);
  /* background-image: url(../assets/images/backgroundbody.png); */
}

/* header styling */

header {
  /* set the flex-direction to row until browser gets smaller than 768px in media query at the bottom */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: 5px 10px 10px var(--light);
  margin: 20px;
  width: 90%;
  background-color: var(--heading-color);
}

h1 {
  flex: 1 0 200px;
  color: yellow;
  padding: 10px;
  position: relative;
  margin: 15px;
}

/* nav styling */
/* adjust width here to affect the background of the navbar */
.nav {
  /* two below make the nav contents into a row */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  margin-right: 30px;
}

/* adjust width affects whole box for link here */
.nav li {
  flex: 1 1 200px;
  background-color: var(--light);
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  position: relative;
}

nav li a {
  flex: 1 1 400px;
  text-align: center;
  text-decoration: none;
  color: yellow;
  /* width does nothing of value here currently */
}

/* Interact with Nav */
.nav li:hover {
  background-color: rgb(139, 189, 139);
  box-shadow: inset 5px 5px 5px blue;
}

.nav a:hover {
  color: yellow;
}

a:visited {
  color: initial;
}
/* Generic Section Headings Styling */

.sectionLabels {
  border-bottom: 5px solid white;
  width: 90%;
  height: 40px;
  margin: 18px;
  color: yellow;
  transform: skew(-9deg);
  background-color: var(--heading-color);
  box-shadow: 5px 10px 10px var(--light);
}

/* About Me Section Styling */

article {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  background-color: var(--heading-color);
  padding: 10px;
  /* height: fit-content; */
  filter: drop-shadow(4px 4px 5px gray);
  border: 5px var(--light);
}

/* revisit text color */
article p {
  flex: 1 1 100px;
  color: var(--light);
}

/* selfie */
#itsBrian {
  flex: 1 1 200px;
  min-width: 25%;
  width: 25%;
  height: 25%;
}

/* First Project Image - larger than other app imgs */
#firstProject {
  flex: 1 0 400px;
  /* order: 1; */
  min-height: 200px;
  min-width: 200px;
  border: 5px solid var(--heading-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Remaining Project Images Below */

.cards {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  width: 90%;
}

/* .smallerProjects {
  flex: 1 1 200px;
  border: 5px solid var(--heading-color);
  width: 50%;
  padding: 10px;
  margin: 10px;
} */

.smallerProjects img {
  flex: 1 1 200px;
  border: 5px solid var(--heading-color);
  width: 25%;
  margin: 10px;
  position: relative;
}

a[href*="#placeholder"] {
  background-color: gold;
  backdrop-filter: focus(10px);
  padding: 10px;
  position: relative;
  right: 14px;
  border: 5px var(--dark);
  border-style: groove;
}

/* Inside Project Boxes */
.smallerProjects:hover h3 {
  box-shadow: inset 5px 5px 5px gold;
}

#firstProject:hover {
  box-shadow: inset 5px 5px 5px gold;
}

/* footer - Contact Me */
footer {
  display: flex;
  flex-direction: column;
}

#contact {
  flex: 1 1 0;
  border: 5px solid white;
  width: 90%;
  height: 40px;
  margin: 18px;
  color: yellow;
  background-color: var(--heading-color);
  box-shadow: 5px 10px 10px var(--light);
}

.contact-content {
  list-style-type: none;
}

/* End Basic Styling - Begin Responsive Design */

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
    justify-content: center;
  }

  nav ul {
    flex-direction: column;
  }

  #itsBrian {
    min-width: 25%;
    min-height: 25;
  }
}
/* #firstProject {
    width: 100%;
  } */

/* .cards {
    flex-direction: column;
  } */
/* @media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    min-width: 400px;
  }

  nav ul {
    flex-direction: column;
  }

  aside {
    height: fit-content;
  }

  #itsBrian {
    min-width: 25%;
    min-height: 25;
  }
} */

@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    min-width: 200px;
  }

  nav ul {
    flex-direction: column;
  }

  #itsBrian {
    position: relative;
    left: 10%;
  }

  article {
    position: relative;
    left: 5%;
  }
}
