* {
  box-sizing: border-box;
}

/* color pallete link: https://coolors.co/3e78b2-004ba8-4a525a-24272b-07070a */

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(../assets/images/backgroundbody.png);
}

/* header styling */

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #004ba8;
}

/* nav styling */

nav,
h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: safe;
}

nav ul {
  list-style-type: none;
  box-shadow: #bcc4bb 5px;
  background-color: #bcc4bb;
  font-size: 20px;
  font-weight: 900;
}

nav li a {
  display: flex;
  width: 100%;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

nav ul li:hover {
  background-color: #8c82d9;
}

/* Generic Section Headings Styling */

.sectionLabels {
  border-bottom: 5px solid white;
  color: yellow;
  transform: skew(-9deg);
}

/* About Me Section Styling */
#aboutMe {
  position: relative;
  left: 100px;
  width: 70%;
}

p {
  background-color: #3e78b2;
  padding: 10px;
  border: 100px #8c82d9;
  filter: sepia(100%);
}

/* selfie */
#itsBrian {
  flex: auto;
  display: flex;
  width: 50%;
  height: 50%;
  display: block;
  border: 5px solid #3e78b2;
  filter: drop-shadow(4px 4px 5px gray);
}

img:hover {
  filter: brightness(100%);
}

/* First Image - larger than other app imgs */
/* #firstImage {
} */

/* Remaining Project Images Below */

/* End Basic Styling - Begin Responsive Design */

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
