* {
  box-sizing: border-box;
}

/* color pallete link: https://coolors.co/3e78b2-004ba8-4a525a-24272b-07070a */

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* background-image: url(../assets/images/backgroundbody.png); */
}

/* header styling */

header {
  /* set the flex-direction to row until browser gets smaller than 768px in media query at the bottom */
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 5px 10px 10px #bcc4bb;
  margin: 20px;
  width: 90%;
  background-color: #3e78b2;
}

header h1 {
  flex: 1 1 20px;
  border-bottom: 50px solid #bcc4bb;
  color: yellow;
  padding: 10px;
}

/* nav styling */

/* nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: safe;
} */

/* Hey! You're going places! */
nav h2 {
  text-orientation: sideways-right;
  background-color: antiquewhite;
  border: 5px solid;
  border-radius: 10px;
  width: 50%;
}

/* adjust width here to affect the background of the navbar */
nav ul {
  /* two below make the nav contents into a row */
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  font-size: 20px;
  font-weight: 900;
}

/* adjust width affects whole box for link here */
nav ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: safe;
  /* align-items: flex-end; */
  background-color: #bcc4bb;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

nav li a {
  flex: 1 1 400px;
  text-align: center;
  text-decoration: none;
  /* width does nothing of value here currently */
}

nav ul li:hover {
  background-color: #8c82d9;
}

/* Generic Section Headings Styling */

.sectionLabels {
  border-bottom: 5px solid white;
  width: 90%;
  height: 40px;
  margin: 18px;
  color: yellow;
  transform: skew(-9deg);
  background-color: #3e78b2;
  box-shadow: 5px 10px 10px #bcc4bb;
}

/* About Me Section Styling */
aside {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

p {
  flex: 1 1 0;
  background-color: #3e78b2;
  padding: 10px;
  height: fit-content;
  filter: drop-shadow(4px 4px 5px gray);
}

#aboutme {
  display: flex;
  justify-content: center;
}

/* selfie */
#itsBrian {
  flex: 1 1 200px;
  min-width: 25%;
  width: 25%;
  height: 25%;

  order: 2;
}

/* First Image - larger than other app imgs */
#firstProject {
  width: 100%;
  height: 100%;
  border: 5px solid #3e78b2;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Remaining Project Images Below */

.leftProjects .rightProjects {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  border: 5px solid #3e78b2;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* End Basic Styling - Begin Responsive Design */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    min-width: 400px;
  }

  nav ul {
    flex-direction: column;
  }

  aside {
    height: fit-content;
  }

  #itsBrian {
    min-width: 25%;
    min-height: 25;
  }
}

/* aside img {
    display: none;
  } */

@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    min-width: 200px;
  }

  nav ul {
    flex-direction: column;
  }
}
